n8n/workflows/Main.json
{
  "createdAt": "2025-05-06T04:58:38.481Z",
  "id": "I9QOZh143ODMefSC",
  "name": "Main",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6a539d02-9d89-4807-9bf2-4b507a0a35e8",
              "leftValue": "={{ $json.main.data.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "950ab57f-cd01-43d9-8af4-84888b710a04",
              "leftValue": "={{ $json.main.data.image.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "53a4b42d-c596-4c70-a00b-7584b2824659",
              "leftValue": "={{ $json.main.data.audio.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "f68c0589-e764-43fa-879a-2d445b8b3275",
              "leftValue": "={{ $json.main.data.video.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7225eb50-70a7-48fd-b739-485aa5aab60f",
              "leftValue": "={{ $json.main.data.document.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1480,
        1160
      ],
      "id": "56c1fc4f-1aac-4e4d-9344-f004ab52b4f0",
      "name": "hasData"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "71d1d78d-5750-4aab-b7c7-10c27dc86468",
              "leftValue": "={{ $json.main.data.image.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9ffbc875-ce1c-4340-8a15-3486162c34a0",
              "leftValue": "={{ $json.main.data.audio.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b54e5eb8-02be-4bbb-9d3c-b94ec2aa5a88",
              "leftValue": "={{ $json.main.data.video.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "93f45a78-fe13-4ce1-aaf4-1cfe545f01b1",
              "leftValue": "={{ $json.main.data.document.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        1140
      ],
      "id": "211095d0-8c4f-494d-bf11-327e493f4ec3",
      "name": "hasFile"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.main.data.image.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "a52b4d20-b9ab-4ec8-b790-02410eab546f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64ad04b4-fb38-4c8e-a046-78e00d5e8657",
                    "leftValue": "={{ $json.main.data.audio.id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1540,
        1460
      ],
      "id": "acf03920-f9f5-46d2-ae1d-097baab8d1a8",
      "name": "fileTypeRule"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.main.data.image.category }}",
                    "rightValue": "invoice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fbe3c23d-9d51-48a1-a95d-65e1bcb29b84"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invoice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "06931ffc-1747-403b-8a68-30c0d1f74b5b",
                    "leftValue": "={{ $json.main.data.image.category }}",
                    "rightValue": "accounting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accounting"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none",
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2140,
        1320
      ],
      "id": "5343093e-7180-4b16-bf79-4c47355f64d5",
      "name": "imageCategoryRule"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mKfGnRt4PY6wMSJV",
          "mode": "list",
          "cachedResultName": "FileProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -480,
        920
      ],
      "id": "014c97a5-eac7-4680-b697-0c9d755cfbcf",
      "name": "execFileProcessor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YFb69LzgTmjcYFOY",
          "mode": "list",
          "cachedResultName": "ImageClassifier"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1840,
        1320
      ],
      "id": "bffda710-8d13-454b-8643-21bc6fb37ac7",
      "name": "execImageClassifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eh0L2uHbJBJEBz1e",
          "mode": "list",
          "cachedResultName": "GeneralTaskProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2140,
        1100
      ],
      "id": "2b580e71-64a8-4b3a-8500-2e2e7f475977",
      "name": "execGeneralTask"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UOp8OYYUsgFFxyrd",
          "mode": "list",
          "cachedResultName": "InvoiceTaskProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2580,
        1180
      ],
      "id": "c69a1cd5-7586-4bc0-9ea3-9d78c79580ca",
      "name": "execInvoiceTask"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MqLt7E5kTkpGq0sV",
          "mode": "list",
          "cachedResultName": "ImageGenTaskProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2140,
        300
      ],
      "id": "655cbf6d-f7ea-4719-a38c-647daab0f222",
      "name": "execImageGenTask"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "amYFvGc8SzZ4jOqL",
          "mode": "list",
          "cachedResultName": "AudioTaskProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2140,
        500
      ],
      "id": "65af597c-5120-41cd-880e-c68861ef3857",
      "name": "execAudioTask"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jRNEjIr93mq72LZQ",
          "mode": "list",
          "cachedResultName": "VideoTaskProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2140,
        700
      ],
      "id": "602b4ce9-6f2c-4249-a5ac-164888e94ccc",
      "name": "execVideoTask"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7agNGztp1g23PKQn",
          "mode": "list",
          "cachedResultName": "MessageReactionSender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1120,
        920
      ],
      "id": "5c7e72b4-58e8-4a49-94b4-2821e4788ff3",
      "name": "execMessageReactionSender"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7d9a90c-252e-40a6-b6fc-ef9e8e5cf8f9",
              "name": "main.vars.invoice.customSheetId",
              "value": "",
              "type": "string"
            },
            {
              "id": "7507872f-9b80-4515-847e-39c24a9c5515",
              "name": "main.vars.invoice.extractor.prompt",
              "value": "Extract information from the invoice image and format the output as (N/A if the field is not available or empty)\n<total/amount due with tip included> -- <store name> -- <billing date converted to MM/dd/yyyy HH:mm format>",
              "type": "string"
            },
            {
              "id": "8a6abdcc-772a-4103-8920-169136772001",
              "name": "main.vars.invoice.payerName",
              "value": "",
              "type": "string"
            },
            {
              "id": "32454082-1f42-46ab-9e4c-bc0ffe6ed65f",
              "name": "main.vars.ai.google.apiKey",
              "value": "",
              "type": "string"
            },
            {
              "id": "3d46cce3-56cf-430e-9978-746a1790c252",
              "name": "main.vars.ai.google.generalModel",
              "value": "gemini-2.5-flash-preview-05-20",
              "type": "string"
            },
            {
              "id": "7ed3e8af-5089-4b00-9e9b-bfb8298a22cf",
              "name": "main.vars.ai.google.imageGenModel",
              "value": "gemini-2.0-flash-preview-image-generation",
              "type": "string"
            },
            {
              "id": "81e01515-b4ae-4af0-a190-700548c2777e",
              "name": "main.vars.ai.google.baseUrl",
              "value": "https://generativelanguage.googleapis.com/v1beta/models",
              "type": "string"
            },
            {
              "id": "ed46fc78-be32-4979-a30e-7507fe28884d",
              "name": "main.vars.ai.google.uploadUrl",
              "value": "https://generativelanguage.googleapis.com/upload/v1beta/files",
              "type": "string"
            },
            {
              "id": "44472703-f13e-4997-942f-e1feda5ed69f",
              "name": "main.vars.messageClassifier.description.image",
              "value": "Prompts that generate, edit, transform, or otherwise modify an image in any way, excluding requests to analyze or describe the image",
              "type": "string"
            },
            {
              "id": "d1b327af-a450-454c-96e7-169e39793bea",
              "name": "main.vars.messageClassifier.description.audio",
              "value": "Prompts that describe, summarize, or answer questions about audio content; provide a transcription of audio; or analyze specific segments of audio",
              "type": "string"
            },
            {
              "id": "fa5dd565-53ea-483e-a9e1-2e50c288d7ce",
              "name": "main.vars.messageClassifier.description.video",
              "value": "Prompts that describe, summarize, segment, or extract information from videos; answer questions about video content; or refer to specific timestamps within a video",
              "type": "string"
            },
            {
              "id": "3bf90f5c-6490-429e-933e-1f803f5f7522",
              "name": "main.vars.messageClassifier.description.document",
              "value": "Prompts that describe, summarize, or extract structured information from document (or file) contents; analyze diagrams, charts, or tables within documents (or files); or answer questions about visual or textual elements in documents (or files), and that do not contain any links or URLs",
              "type": "string"
            },
            {
              "id": "99924b45-d26b-409a-9a5d-c9ce895989e5",
              "name": "main.vars.messageClassifier.description.general",
              "value": "prompts that do not belong to any specific category",
              "type": "string"
            },
            {
              "id": "e4b137c5-817e-4db4-be6e-43fe80023427",
              "name": "main.vars.realTimeSearching.description",
              "value": "Use this tool to search for up-to-date, real-time information or facts that may not exist in the AI model’s internal knowledge base\nCall this tool when the question involves:\n- Current events (e.g., news, trends, financial markets, sports scores...)\n- Recent updates (e.g., newly released products, recent regulations...)\n- Factual verification (e.g., confirming public figures' statements, latest statistics...)\n- Information that changes over time (e.g., date time, weather, stock prices...) or includes from any provided links or URLs\nThis tool will perform a live search using external sources and return the most relevant and accurate result\nAlways prefer this tool when you are uncertain whether your knowledge is complete or current",
              "type": "string"
            },
            {
              "id": "f1bed9ac-4f76-4702-90cc-c29317fc40ef",
              "name": "main.vars.imageClassifier.prompt",
              "value": "Classify the image below into one of the following categories and format the output as only <category name>\n- invoice: image in which invoices are the primary objects\n- accounting: image in which invoices or orders (or both) in Vietnamese are the primary objects\n- general: images that do not belong to any specific category",
              "type": "string"
            },
            {
              "id": "1da4654a-540f-4719-a241-0035ada0fbca",
              "name": "main.vars.audioTranscriber.prompt",
              "value": "Transcribe the spoken audio into clean verbatim text. Remove filler words (like um, uh...), false starts, and unnecessary repetitions. Maintain the speaker's original meaning and sentence structure, and use correct grammar and punctuation. Do not summarize or paraphrase — just present a clear, readable version of what was said",
              "type": "string"
            },
            {
              "id": "2b7f8f5e-3994-4ef5-aec8-979477a4cc26",
              "name": "main.vars.caching.session.ttlInDays",
              "value": 10,
              "type": "number"
            },
            {
              "id": "36e1d87c-137d-4e97-9301-cc68bdf77646",
              "name": "main.vars.caching.session.contextLength",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1780,
        1160
      ],
      "id": "26fac77a-fd23-414b-b7a5-0827e54f2450",
      "name": "setGlobalVars"
    },
    {
      "parameters": {
        "modelName": "=models/{{ $json.main.vars.ai.google.generalModel }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1760,
        1100
      ],
      "id": "4ffea854-2603-4c35-bf6b-5996ef01fc8e",
      "name": "Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uyOs56MFdKYyE9ZM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "W6WGXKzY8msjzwGq",
          "mode": "list",
          "cachedResultName": "TextOutputSender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2580,
        900
      ],
      "id": "19dfd248-3735-4f9f-accf-d6840f2b0886",
      "name": "execTextOutputSender"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "amYFvGc8SzZ4jOqL",
          "mode": "list",
          "cachedResultName": "AudioTaskProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1840,
        1600
      ],
      "id": "d34ce5d9-3bb2-4635-a801-ef2c096ba097",
      "name": "execAudioTask1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "H1jqqYTpmATELX14",
          "mode": "list",
          "cachedResultName": "ImageOutputSender"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2580,
        300
      ],
      "id": "2bbddc3e-4510-4cad-99cb-b43ca48b6750",
      "name": "execImageOutputSender"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e92bf35-a095-4a39-9d43-7c741dfb5609",
              "leftValue": "={{ $json.main.data.image.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        920
      ],
      "id": "e0918700-803a-4fe6-956e-bbd9f09a997d",
      "name": "isImage"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ucfxzgiNtrGcHofY",
          "mode": "list",
          "cachedResultName": "FileUploader"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        120,
        1060
      ],
      "id": "6ea2928f-cc91-4b59-a7c4-f69b8415ace2",
      "name": "execFileUploader"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UX5De3E79L3FbkxJ",
          "mode": "list",
          "cachedResultName": "DocumentTaskProcessor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2140,
        900
      ],
      "id": "4d2b222b-bf7f-40d6-99df-f0a264607059",
      "name": "execDocumentTask"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2260,
        920
      ],
      "id": "66be7b83-5106-4241-ba9a-56f5b495066a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "queue": "n8n",
        "options": {
          "assertQueue": true,
          "acknowledge": "immediately",
          "jsonParseBody": true,
          "onlyContent": true
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -2260,
        1400
      ],
      "id": "9a1ada83-a38b-4630-bf7d-811962b30a3e",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "fXT7VW6i8YbBQRI0",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "274efe30-d0ad-48d0-80da-abff1fa011ad",
              "leftValue": "={{ $json.main.data.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        1180
      ],
      "id": "5a05921c-c6f5-4ddc-ae65-ca2f7965d59a",
      "name": "hasText"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c08ef6b1-7f5a-4072-b674-1019ddb4f16e",
              "name": "main.data.message.text",
              "value": "={{ $json.main.output.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2140,
        1600
      ],
      "id": "c8b875be-5fdd-4a99-b01a-6a0dd1087330",
      "name": "setText"
    },
    {
      "parameters": {
        "inputText": "={{ $json.main.data.message.text }}",
        "categories": {
          "categories": [
            {
              "category": "image",
              "description": "={{ $json.main.vars.messageClassifier.description.image }}"
            },
            {
              "category": "audio",
              "description": "={{ $json.main.vars.messageClassifier.description.audio }}"
            },
            {
              "category": "video",
              "description": "={{ $json.main.vars.messageClassifier.description.video }}"
            },
            {
              "category": "document",
              "description": "={{ $json.main.vars.messageClassifier.description.document }}"
            },
            {
              "category": "general",
              "description": "={{ $json.main.vars.messageClassifier.description.general }}"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        1540,
        880
      ],
      "id": "b3fbb6da-86cc-4b20-b045-bf0aa517d88c",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KCXfXlQISQRIQTXB",
          "mode": "list",
          "cachedResultName": "AccountingTask"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2580,
        1460
      ],
      "id": "cd5d2c28-8e62-4edc-866b-920fbf2e3eef",
      "name": "execAccountingTask"
    }
  ],
  "connections": {
    "hasData": {
      "main": [
        [
          {
            "node": "hasFile",
            "type": "main",
            "index": 0
          },
          {
            "node": "execMessageReactionSender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasFile": {
      "main": [
        [
          {
            "node": "execFileProcessor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "hasText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fileTypeRule": {
      "main": [
        [
          {
            "node": "execImageClassifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execAudioTask1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imageCategoryRule": {
      "main": [
        [
          {
            "node": "execInvoiceTask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execAccountingTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execFileProcessor": {
      "main": [
        [
          {
            "node": "isImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execImageClassifier": {
      "main": [
        [
          {
            "node": "imageCategoryRule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setGlobalVars": {
      "main": [
        [
          {
            "node": "hasData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "execGeneralTask": {
      "main": [
        [
          {
            "node": "execTextOutputSender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execAudioTask1": {
      "main": [
        [
          {
            "node": "setText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execVideoTask": {
      "main": [
        [
          {
            "node": "execTextOutputSender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execAudioTask": {
      "main": [
        [
          {
            "node": "execTextOutputSender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execImageGenTask": {
      "main": [
        [
          {
            "node": "execImageOutputSender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isImage": {
      "main": [
        [
          {
            "node": "hasText",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execFileUploader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execFileUploader": {
      "main": [
        [
          {
            "node": "hasText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execDocumentTask": {
      "main": [
        [
          {
            "node": "execTextOutputSender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "setGlobalVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "setGlobalVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasText": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fileTypeRule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setText": {
      "main": [
        [
          {
            "node": "hasText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "execImageGenTask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execAudioTask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execVideoTask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execDocumentTask",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "execGeneralTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "triggerCount": 1,
  "tags": []
}