n8n/auto/WorkflowUpdater.json
{
  "name": "WorkflowUpdater",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        140
      ],
      "id": "99ebcf87-d74f-4324-afd2-cd7d04d0bc9e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.main.input }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -600,
        140
      ],
      "id": "b660aa8b-6d37-4a3b-b209-94aa43dbe6e7",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -300,
        140
      ],
      "id": "9d708f5d-90bf-47ba-8d48-3a95bf752749",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ca921bb-a2e0-42ea-a7a9-a9d0f872bc69",
              "leftValue": "={{ $json.error }}",
              "rightValue": "The resource you are requesting could not be found",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        120
      ],
      "id": "12c2b1d5-85f7-40f9-adb1-cc86b56319cb",
      "name": "isNotExists"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "841145e0-2038-48b2-8a95-684c9662656b",
      "name": "getWorkflow",
      "alwaysOutputData": false,
      "credentials": {
        "n8nApi": {
          "id": "XipRu9kvpKPwvvNa",
          "name": "cloud n8n account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.data.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        900,
        0
      ],
      "id": "76ab5de5-c000-41a4-9c16-2486fb898cac",
      "name": "createWorkflow",
      "credentials": {
        "n8nApi": {
          "id": "XipRu9kvpKPwvvNa",
          "name": "cloud n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ $json.data.toJsonString() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        900,
        240
      ],
      "id": "344df9fc-2209-4c57-9e3f-3347f58a03c5",
      "name": "updateWorkflow",
      "credentials": {
        "n8nApi": {
          "id": "XipRu9kvpKPwvvNa",
          "name": "cloud n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        300,
        120
      ],
      "id": "643d86eb-b0d1-41ba-b062-ddbd1a12b520",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3f98084-8c4c-457a-b7ae-85c64496a0c2",
              "name": "main.input",
              "value": "/Users/xiii/Downloads/macos-setup/n8n/workflows/*.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        140
      ],
      "id": "9ac3a1db-aaeb-4c3b-98a1-5407f3f566f9",
      "name": "setInputFiles"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "setInputFiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "getWorkflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "isNotExists": {
      "main": [
        [
          {
            "node": "createWorkflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "updateWorkflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getWorkflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isNotExists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setInputFiles": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aab95700-ed33-4e86-8678-70a4dda99ea6",
  "meta": {
    "instanceId": "f8b130448b1247cfa7a04d0efa3978094ff6ffdc49aa0211b08d8d57e7730660"
  },
  "id": "PR7W7JMkBzmhppku",
  "tags": []
}