n8n/auto/WorkflowExporter.json
{
  "name": "WorkflowExporter",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        140
      ],
      "id": "4f06ea32-9024-495d-bd39-dd9948c23a9b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $json.main.output }}/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        900,
        120
      ],
      "id": "a13a85ea-2753-460c-a3d3-84012cb430f4",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.name }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        300,
        0
      ],
      "id": "b73d55ce-f8cd-42d9-9caa-427d0ec435fd",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8afdbfa0-93b7-4ac4-bdf3-2561cf3cf459",
              "name": "main.output",
              "value": "/Users/xiii/Downloads/macos-setup/n8n/workflows",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        140
      ],
      "id": "facf19cf-b605-4e55-96bb-df26fd9d4729",
      "name": "setOutputDirectory"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        600,
        120
      ],
      "id": "0dc9545d-f02f-4120-af4e-96cc6a054c50",
      "name": "Merge"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "458d1ef6-4f54-41d4-8803-d73bdff8383d",
      "name": "getAllWorkflows",
      "credentials": {
        "n8nApi": {
          "id": "XipRu9kvpKPwvvNa",
          "name": "cloud n8n account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "setOutputDirectory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setOutputDirectory": {
      "main": [
        [
          {
            "node": "getAllWorkflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getAllWorkflows": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81b3c0f3-84b4-4ab7-b950-347d4e214175",
  "meta": {
    "instanceId": "f8b130448b1247cfa7a04d0efa3978094ff6ffdc49aa0211b08d8d57e7730660"
  },
  "id": "dixI0YQI2k8GmFGw",
  "tags": []
}